<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>A primer primer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Ben J Woodcroft">

		<!-- Le styles -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
				background: #fff url(img/Pointing-left.svg) no-repeat fixed right 200px; /* Modified from https://secure.wikimedia.org/wikipedia/commons/wiki/File:Pointing-left.svg) */
			}
		</style>
		<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">

			<div class="page-header">
				<h1>Primer primer</h1>
			</div>
			<div class="row-fluid">
				<form action='/primers' class="form-horizontal">
					<fieldset>
						<legend>
							Test out the phylogenetic reach of 16S rDNA primers using the GreenGenes 97% rep set:
						</legend>
						<div class="control-group">
							<label class="control-label" for="forward_primer">Forward primer</label>
							<div class="controls">
								<input type='text' id="forward_primer" name="forward_primer" value="AAACTYAAAKGAATTGRCGG"/>
							</div>
						</div>
						<div class="control-group">

							<label class="control-label" for="reverse_primer">Reverse primer</label>
							<div class="controls">
								<input type='text' id="reverse_primer" name="reverse_primer" value="ACGGGCGGTGWGTRC"/>
							</div>

						</div>
						<div class="control-group">
							<label class="control-label" for="negative">What to show?</label>
							<div class="controls">
								<div class="inputs-list">
									<label>
										<input type="radio" name="negative" value="0" checked="true"/>
										<span>Plot the lineages these primers amplify</span> </label>
									<label> <!-- <p class="help-block">
										The following options are for plotting what does <b>not</b> amplify:
										</p> </label>
										<label>
										<input type="radio" name="negative" value="1" />
										<span>Kingdom-wise breakdown</span> </label>
										<label>
										<input type="radio" name="negative" value="2" />
										<span>Phylum-wise breakdown</span> </label> --> <label>
											<input type="radio" name="negative" value="3" />
											<span>Plot underrepresentation of classes, to find lineages that are not amplified. In brackets are the number of GreenGene sequences hit, but as not all GreenGenes sequences are full-length, even perfect primers won't hit 100% of sequences (maybe 50%, depends on the region amplified). Thus this option is only intended as a visualisation tool, at the moment. The percentages are percentages of 'total underrepresentation', so are probably of little value.</span> </label> <!-- <label>
										<input type="radio" name="negative" value="4" />
										<span>Order-wise breakdown</span> </label>
										<label>
										<input type="radio" name="negative" value="5" />
										<span>Family-wise breakdown</span> </label>
										<label>
										<input type="radio" name="negative" value="6" />
										<span>Genus-wise breakdown</span> </label> -->
								</div>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input type='submit' value="in-silico PCR" class="btn btn-primary btn-medium" />
							</div>
						</div>
					</fieldset>
				</form>

				<p>
					For comparison, here is an <a href='/greengenes'>overview</a> of all the species in GreenGenes. If you find this website useful, please cite the software underpinning - talk to ben.
				</p>
			</div>
		</div>

	</body>
</html>
